PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=time_manager_dev
PGPORT=5433
PGHOST=localhost
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM=Time Manager <onboarding@your-domain.example>
RESEND_FROM_EMAIL=onboarding@your-domain.example
MAILPIT_HOST=localhost
MAILPIT_PORT=1025
